In [ ]:
using Pkg
Pkg.activate(".")
Pkg.resolve()
Pkg.instantiate()

using CSV
using DataFrames
using Chain
using StatsBase # for competerank
using ShiftedArrays: lag # for lag()
using Dates

  Activating project at `c:\Users\ouhsj\Julia_Practice\Julia_Practice`
  No Changes to `C:\Users\ouhsj\Julia_Practice\Julia_Practice\Project.toml`
  No Changes to `C:\Users\ouhsj\Julia_Practice\Julia_Practice\Manifest.toml`

In [9]:
df_customer = CSV.read("data/customer.csv", DataFrame)
df_category = CSV.read("data/category.csv", DataFrame)
df_product = CSV.read("data/product.csv", DataFrame)
df_receipt = CSV.read("data/receipt.csv", DataFrame)
df_store = CSV.read("data/store.csv", DataFrame)
df_geocode = CSV.read("data/geocode.csv", DataFrame);

In [10]:
# p1
first(df_receipt, 10)

10×9 DataFrame
 Row │ sales_ymd  sales_epoch  store_cd  receipt_no  receipt_sub_no  customer_ ⋯
     │ Int64      Int64        String7   Int64       Int64           String15  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │  20181103   1541203200  S14006           112               1  CS0062140 ⋯
   2 │  20181118   1542499200  S13008          1132               2  CS0084150
   3 │  20170712   1499817600  S14028          1102               1  CS0284140
   4 │  20190205   1549324800  S14042          1132               1  ZZ0000000
   5 │  20180821   1534809600  S14025          1102               2  CS0254150 ⋯
   6 │  20190605   1559692800  S13003          1112               1  CS0035150
   7 │  20181205   1543968000  S14024          1102               2  CS0245140
   8 │  20190922   1569110400  S14040          1102               1  CS0404150
   9 │  20170504   1493856000  S13020          1112               2  ZZ0000000 ⋯
  10 │  20191010   1570665600  S14027          1102               1  CS0275140
                                                               4 columns omitted

In [11]:
# p2

# 解答1
first(df_receipt[!, [:sales_ymd, :customer_id, :product_cd, :amount]], 10)

# 解答2
@chain df_receipt[!, [:sales_ymd, :customer_id, :product_cd, :amount]] begin 
    first(10)
end

# 解答3
@chain df_receipt begin
    select(:sales_ymd, :customer_id, :product_cd, :amount)
    first(10)
end

10×4 DataFrame
 Row │ sales_ymd  customer_id     product_cd  amount
     │ Int64      String15        String15    Int64
─────┼───────────────────────────────────────────────
   1 │  20181103  CS006214000001  P070305012     158
   2 │  20181118  CS008415000097  P070701017      81
   3 │  20170712  CS028414000014  P060101005     170
   4 │  20190205  ZZ000000000000  P050301001      25
   5 │  20180821  CS025415000050  P060102007      90
   6 │  20190605  CS003515000195  P050102002     138
   7 │  20181205  CS024514000042  P080101005      30
   8 │  20190922  CS040415000178  P070501004     128
   9 │  20170504  ZZ000000000000  P071302010     770
  10 │  20191010  CS027514000015  P071101003     680

In [12]:
# p3
rename!(df_receipt, :sales_ymd => :sales_date)
first(df_receipt[!,[:sales_date, :customer_id, :product_cd, :amount]], 10)

@chain df_receipt begin
    select(:sales_date, :customer_id, :product_cd, :amount)
    first(10)
end

10×4 DataFrame
 Row │ sales_date  customer_id     product_cd  amount
     │ Int64       String15        String15    Int64
─────┼────────────────────────────────────────────────
   1 │   20181103  CS006214000001  P070305012     158
   2 │   20181118  CS008415000097  P070701017      81
   3 │   20170712  CS028414000014  P060101005     170
   4 │   20190205  ZZ000000000000  P050301001      25
   5 │   20180821  CS025415000050  P060102007      90
   6 │   20190605  CS003515000195  P050102002     138
   7 │   20181205  CS024514000042  P080101005      30
   8 │   20190922  CS040415000178  P070501004     128
   9 │   20170504  ZZ000000000000  P071302010     770
  10 │   20191010  CS027514000015  P071101003     680

In [13]:
# p4
rename!(df_receipt, :sales_date => :sales_ymd)

# 解答1
df_receipt[!, [:sales_ymd, :customer_id, :product_cd, :amount]] |>
    filter(row -> row.customer_id == "CS018205000001")

# 解答2
@chain df_receipt begin
        select(:sales_ymd, :customer_id, :product_cd, :amount)
        filter(row -> row.customer_id == "CS018205000001", _) # chainでfilterする場合は，dataの場所に_を使用する．
    end

12×4 DataFrame
 Row │ sales_ymd  customer_id     product_cd  amount
     │ Int64      String15        String15    Int64
─────┼───────────────────────────────────────────────
   1 │  20180911  CS018205000001  P071401012    2200
   2 │  20180414  CS018205000001  P060104007     600
   3 │  20170614  CS018205000001  P050206001     990
   4 │  20170614  CS018205000001  P060702015     108
   5 │  20190216  CS018205000001  P071005024     102
   6 │  20180414  CS018205000001  P071101002     278
   7 │  20190226  CS018205000001  P070902035     168
   8 │  20190924  CS018205000001  P060805001     495
   9 │  20190226  CS018205000001  P071401020    2200
  10 │  20180911  CS018205000001  P071401005    1100
  11 │  20190216  CS018205000001  P040101002     218
  12 │  20190924  CS018205000001  P091503001     280

In [14]:
# p7
df_receipt[!, [:sales_ymd, :customer_id, :product_cd, :amount]] |>
    filter(row -> row.customer_id == "CS018205000001") |>
    filter(row -> row.amount >= 1000)

3×4 DataFrame
 Row │ sales_ymd  customer_id     product_cd  amount
     │ Int64      String15        String15    Int64
─────┼───────────────────────────────────────────────
   1 │  20180911  CS018205000001  P071401012    2200
   2 │  20190226  CS018205000001  P071401020    2200
   3 │  20180911  CS018205000001  P071401005    1100

In [15]:
# p8
df_receipt[!, [:sales_ymd, :customer_id, :product_cd, :amount]] |>
    filter(row -> row.customer_id == "CS018205000001") |>
    filter(row -> row.product_cd != "P071401019")

12×4 DataFrame
 Row │ sales_ymd  customer_id     product_cd  amount
     │ Int64      String15        String15    Int64
─────┼───────────────────────────────────────────────
   1 │  20180911  CS018205000001  P071401012    2200
   2 │  20180414  CS018205000001  P060104007     600
   3 │  20170614  CS018205000001  P050206001     990
   4 │  20170614  CS018205000001  P060702015     108
   5 │  20190216  CS018205000001  P071005024     102
   6 │  20180414  CS018205000001  P071101002     278
   7 │  20190226  CS018205000001  P070902035     168
   8 │  20190924  CS018205000001  P060805001     495
   9 │  20190226  CS018205000001  P071401020    2200
  10 │  20180911  CS018205000001  P071401005    1100
  11 │  20190216  CS018205000001  P040101002     218
  12 │  20190924  CS018205000001  P091503001     280

In [16]:
# p9
df_store |>
    filter(row -> row.prefecture_cd != "13" && row.floor_area <= 900)

9×10 DataFrame
 Row │ store_cd  store_name    prefecture_cd  prefecture  address              ⋯
     │ String7   String31      Int64          String15    String               ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ S14046    北山田店                 14  神奈川県    神奈川県横浜市都筑区 ⋯
   2 │ S14011    日吉本町店               14  神奈川県    神奈川県横浜市港北区
   3 │ S13008    成城店                   13  東京都      東京都世田谷区成城三
   4 │ S13020    十条仲原店               13  東京都      東京都北区十条仲原三
   5 │ S13043    南品川店                 13  東京都      東京都品川区南品川三 ⋯
   6 │ S13041    八王子店                 13  東京都      東京都八王子市大塚
   7 │ S13017    高円寺南店               13  東京都      東京都杉並区高円寺南
   8 │ S12013    習志野店                 12  千葉県      千葉県習志野市芝園一
   9 │ S13037    南砂一丁目店             13  東京都      東京都江東区南砂一丁 ⋯
                                                               6 columns omitted

In [17]:
# p10
@chain df_store |>
    filter(row -> startswith(row.store_cd, "S14")) begin
        first(10)
    end

10×10 DataFrame
 Row │ store_cd  store_name    prefecture_cd  prefecture  address              ⋯
     │ String7   String31      Int64          String15    String               ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ S14010    菊名店                   14  神奈川県    神奈川県横浜市港北区 ⋯
   2 │ S14033    阿久和店                 14  神奈川県    神奈川県横浜市瀬谷区
   3 │ S14036    相模原中央店             14  神奈川県    神奈川県相模原市中央
   4 │ S14040    長津田店                 14  神奈川県    神奈川県横浜市緑区長
   5 │ S14050    阿久和西店               14  神奈川県    神奈川県横浜市瀬谷区 ⋯
   6 │ S14028    二ツ橋店                 14  神奈川県    神奈川県横浜市瀬谷区
   7 │ S14012    本牧和田店               14  神奈川県    神奈川県横浜市中区本
   8 │ S14046    北山田店                 14  神奈川県    神奈川県横浜市都筑区
   9 │ S14022    逗子店                   14  神奈川県    神奈川県逗子市逗子一 ⋯
  10 │ S14011    日吉本町店               14  神奈川県    神奈川県横浜市港北区
                                                               6 columns omitted

In [18]:
# p11
@chain df_customer |>
    filter(row -> endswith(row.customer_id, "1")) begin
        first(10)
    end

10×11 DataFrame
 Row │ customer_id     customer_name  gender_cd  gender   birth_day   age    p ⋯
     │ String15        String31       Int64      String7  Date        Int64  S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ CS037613000071  六角 雅彦              9  不明     1952-04-01     66  1 ⋯
   2 │ CS028811000001  堀井 かおり            1  女性     1933-03-27     86  2
   3 │ CS040412000191  川井 郁恵              1  女性     1977-01-05     42  2
   4 │ CS028314000011  小菅 あおい            1  女性     1983-11-26     35  2
   5 │ CS039212000051  藤島 恵梨香            1  女性     1997-02-03     22  1 ⋯
   6 │ CS015412000111  松居 奈月              1  女性     1972-10-04     46  1
   7 │ CS004702000041  野島 洋                0  男性     1943-08-24     75  1
   8 │ CS041515000001  栗田 千夏              1  女性     1967-01-02     52  2
   9 │ CS029313000221  北条 ひかり            1  女性     1987-06-19     31  2 ⋯
  10 │ CS034312000071  望月 奈央              1  女性     1980-09-20     38  2
                                                               5 columns omitted

In [19]:
# p12
df_store |>
    filter(row -> contains(row.address, "横浜市"))

11×10 DataFrame
 Row │ store_cd  store_name  prefecture_cd  prefecture  address                ⋯
     │ String7   String31    Int64          String15    String                 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ S14010    菊名店                 14  神奈川県    神奈川県横浜市港北区菊 ⋯
   2 │ S14033    阿久和店               14  神奈川県    神奈川県横浜市瀬谷区阿
   3 │ S14040    長津田店               14  神奈川県    神奈川県横浜市緑区長津
   4 │ S14050    阿久和西店             14  神奈川県    神奈川県横浜市瀬谷区阿
   5 │ S14028    二ツ橋店               14  神奈川県    神奈川県横浜市瀬谷区二 ⋯
   6 │ S14012    本牧和田店             14  神奈川県    神奈川県横浜市中区本牧
   7 │ S14046    北山田店               14  神奈川県    神奈川県横浜市都筑区北
   8 │ S14011    日吉本町店             14  神奈川県    神奈川県横浜市港北区日
   9 │ S14048    中川中央店             14  神奈川県    神奈川県横浜市都筑区中 ⋯
  10 │ S14042    新山下店               14  神奈川県    神奈川県横浜市中区新山
  11 │ S14006    葛が谷店               14  神奈川県    神奈川県横浜市都筑区葛
                                                               6 columns omitted

In [20]:
# p13

# 解答1
@chain df_customer begin
    filter(row -> startswith(row.status_cd, ('A', 'B', 'C', 'D', 'E', 'F')), _) # chainでfilterする場合は，_を使用する．
    first(10)
end

# 解答2
@chain df_customer |>
    filter(row -> startswith(row.status_cd, "A") ||
        startswith(row.status_cd, "B") ||
        startswith(row.status_cd, "C") ||
        startswith(row.status_cd, "D") ||
        startswith(row.status_cd, "E") ||
        startswith(row.status_cd, "F")) begin
            first(10)
        end

# 解答3
first(filter(row -> startswith(row.status_cd, ('A', 'B', 'C', 'D', 'E', 'F')), df_customer), 10)

10×11 DataFrame
 Row │ customer_id     customer_name  gender_cd  gender   birth_day   age    p ⋯
     │ String15        String31       Int64      String7  Date        Int64  S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ CS031415000172  宇多田 貴美子          1  女性     1976-10-04     42  1 ⋯
   2 │ CS015414000103  奥野 陽子              1  女性     1977-08-09     41  1
   3 │ CS011215000048  芦田 沙耶              1  女性     1992-02-01     27  2
   4 │ CS029415000023  梅田 里穂              1  女性     1976-01-17     43  2
   5 │ CS035415000029  寺沢 真希              9  不明     1977-09-27     41  1 ⋯
   6 │ CS031415000106  宇野 由美子            1  女性     1970-02-26     49  1
   7 │ CS029215000025  石倉 美帆              1  女性     1993-09-28     25  2
   8 │ CS033605000005  猪股 雄太              0  男性     1955-12-05     63  2
   9 │ CS033415000229  板垣 菜々美            1  女性     1977-11-07     41  2 ⋯
  10 │ CS008415000145  黒谷 麻緒              1  女性     1977-06-27     41  1
                                                               5 columns omitted

In [21]:
# p14
@chain df_customer begin
    filter(row -> endswith(row.status_cd, ('1', '2', '3', '4', '5', '6', '7', '8', '9')), _) 
    first(10)
end

10×11 DataFrame
 Row │ customer_id     customer_name  gender_cd  gender   birth_day   age    p ⋯
     │ String15        String31       Int64      String7  Date        Int64  S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ CS001215000145  田崎 美紀              1  女性     1995-03-29     24  1 ⋯
   2 │ CS033513000180  安斎 遥                1  女性     1962-07-11     56  2
   3 │ CS011215000048  芦田 沙耶              1  女性     1992-02-01     27  2
   4 │ CS040412000191  川井 郁恵              1  女性     1977-01-05     42  2
   5 │ CS009315000023  皆川 文世              1  女性     1980-04-15     38  1 ⋯
   6 │ CS015315000033  福士 璃奈子            1  女性     1983-03-17     36  1
   7 │ CS023513000066  神戸 そら              1  女性     1961-12-17     57  2
   8 │ CS035513000134  市川 美帆              1  女性     1960-03-27     59  1
   9 │ CS001515000263  高松 夏空              1  女性     1962-11-09     56  1 ⋯
  10 │ CS040314000027  鶴田 きみまろ          9  不明     1986-03-26     33  2
                                                               5 columns omitted

In [22]:
# p15
@chain df_customer begin
    filter(row -> startswith(row.status_cd, ('A', 'B', 'C', 'D', 'E', 'F')), _)
    filter(row -> endswith(row.status_cd, ('1', '2', '3', '4', '5', '6', '7', '8', '9')), _)
    first(10)
end

10×11 DataFrame
 Row │ customer_id     customer_name  gender_cd  gender   birth_day   age    p ⋯
     │ String15        String31       Int64      String7  Date        Int64  S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ CS011215000048  芦田 沙耶              1  女性     1992-02-01     27  2 ⋯
   2 │ CS022513000105  島村 貴美子            1  女性     1962-03-12     57  2
   3 │ CS001515000096  水野 陽子              9  不明     1960-11-29     58  1
   4 │ CS013615000053  西脇 季衣              1  女性     1953-10-18     65  2
   5 │ CS020412000161  小宮 薫                1  女性     1974-05-21     44  1 ⋯
   6 │ CS001215000097  竹中 あさみ            1  女性     1990-07-25     28  1
   7 │ CS035212000007  内村 恵梨香            1  女性     1990-12-04     28  1
   8 │ CS002515000386  野田 コウ              1  女性     1963-05-30     55  1
   9 │ CS001615000372  稲垣 寿々花            1  女性     1956-10-29     62  1 ⋯
  10 │ CS032512000121  松井 知世              1  女性     1962-09-04     56  2
                                                               5 columns omitted

In [23]:
# p16
# get.(match.(r"(\d+)-(\d+)-(\d+)", df_store.tel_no), 4, "No Match")

In [24]:
# p17
@chain sort!(df_customer, :birth_day) begin
    first(10)
end

10×11 DataFrame
 Row │ customer_id     customer_name  gender_cd  gender   birth_day   age    p ⋯
     │ String15        String31       Int64      String7  Date        Int64  S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ CS003813000014  村山 菜々美            1  女性     1928-11-26     90  1 ⋯
   2 │ CS026813000004  吉村 朝陽              1  女性     1928-12-14     90  2
   3 │ CS018811000003  熊沢 美里              1  女性     1929-01-07     90  2
   4 │ CS027803000004  内村 拓郎              0  男性     1929-01-12     90  2
   5 │ CS013801000003  天野 拓郎              0  男性     1929-01-15     90  2 ⋯
   6 │ CS001814000022  鶴田 里穂              1  女性     1929-01-28     90  1
   7 │ CS016815000002  山元 美紀              1  女性     1929-02-22     90  1
   8 │ CS009815000003  中田 里穂              1  女性     1929-04-08     89  1
   9 │ CS012813000013  宇野 南朋              1  女性     1929-04-09     89  2 ⋯
  10 │ CS005813000015  金谷 恵梨香            1  女性     1929-04-09     89  1
                                                               5 columns omitted

In [25]:
# p18
@chain df_customer begin
    sort!(:birth_day, rev = true)
    first(10)
end

10×11 DataFrame
 Row │ customer_id     customer_name  gender_cd  gender   birth_day   age    p ⋯
     │ String15        String31       Int64      String7  Date        Int64  S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ CS035114000004  大村 美里              1  女性     2007-11-25     11  1 ⋯
   2 │ CS022103000002  福山 はじめ            9  不明     2007-10-02     11  2
   3 │ CS002113000009  柴田 真悠子            1  女性     2007-09-17     11  1
   4 │ CS004115000014  松井 京子              1  女性     2007-08-09     11  1
   5 │ CS002114000010  山内 遥                1  女性     2007-06-03     11  1 ⋯
   6 │ CS025115000002  小柳 夏希              1  女性     2007-04-18     11  2
   7 │ CS002113000025  広末 まなみ            1  女性     2007-03-30     12  1
   8 │ CS033112000003  長野 美紀              1  女性     2007-03-22     12  2
   9 │ CS007115000006  福岡 瞬                1  女性     2007-03-10     12  2 ⋯
  10 │ CS014113000008  矢口 莉緒              1  女性     2007-03-05     12  2
                                                               5 columns omitted

In [26]:
# p19
df_receipt.ranking = competerank(df_receipt.amount, rev = true)
@chain df_receipt begin
    sort!(:amount, rev = true)
    select(:customer_id, :amount, :ranking)
    first(10)
end

10×3 DataFrame
 Row │ customer_id     amount  ranking
     │ String15        Int64   Int64
─────┼─────────────────────────────────
   1 │ CS011415000006   10925        1
   2 │ ZZ000000000000    6800        2
   3 │ CS028605000002    5780        3
   4 │ CS015515000034    5480        4
   5 │ ZZ000000000000    5480        4
   6 │ ZZ000000000000    5480        4
   7 │ ZZ000000000000    5440        7
   8 │ CS021515000089    5440        7
   9 │ CS015515000083    5280        9
  10 │ CS017414000114    5280        9

In [27]:
# p20
df_receipt.ranking_ordinal = ordinalrank(df_receipt.amount, rev = true)
@chain df_receipt begin
    sort!(:amount, rev = true)
    select(:customer_id, :amount, :ranking_ordinal)
    first(10)
end

10×3 DataFrame
 Row │ customer_id     amount  ranking_ordinal
     │ String15        Int64   Int64
─────┼─────────────────────────────────────────
   1 │ CS011415000006   10925                1
   2 │ ZZ000000000000    6800                2
   3 │ CS028605000002    5780                3
   4 │ CS015515000034    5480                4
   5 │ ZZ000000000000    5480                5
   6 │ ZZ000000000000    5480                6
   7 │ ZZ000000000000    5440                7
   8 │ CS021515000089    5440                8
   9 │ CS015515000083    5280                9
  10 │ CS017414000114    5280               10

In [28]:
# p21
df_receipt |> nrow

104681

In [29]:
# p22
@chain df_receipt begin
    select(:customer_id)
    unique!
    nrow
end

8307

In [30]:
# p23
@chain df_receipt begin
    groupby(:store_cd)
    combine([:amount, :quantity] .=> sum)
end

52×3 DataFrame
 Row │ store_cd  amount_sum  quantity_sum
     │ String7   Int64       Int64
─────┼────────────────────────────────────
   1 │ S14006        712839          2284
   2 │ S13008        809288          2491
   3 │ S14028        786145          2458
   4 │ S14042        534689          1935
   5 │ S14025        755581          2394
   6 │ S13003        764294          2197
   7 │ S14024        736323          2417
   8 │ S14040        701858          2233
   9 │ S13020        796383          2383
  10 │ S14027        714550          2303
  11 │ S14021        699511          2231
  ⋮  │    ⋮          ⋮            ⋮
  43 │ S14048        234276           769
  44 │ S14022        651328          2047
  45 │ S14033        725318          2282
  46 │ S14047        338329          1041
  47 │ S13043        587895          1881
  48 │ S13035        715869          2219
  49 │ S14050        167090           580
  50 │ S14049        230808           788
  51 │ S13051        107452           354
  52 │ S13052        100314           250
                           31 rows omitted

In [31]:
# p24
@chain df_receipt begin
    groupby(:customer_id)
    combine(:sales_ymd => maximum)
    first(10)
end

10×2 DataFrame
 Row │ customer_id     sales_ymd_maximum
     │ String15        Int64
─────┼───────────────────────────────────
   1 │ CS011415000006           20191029
   2 │ ZZ000000000000           20191031
   3 │ CS028605000002           20190416
   4 │ CS015515000034           20191010
   5 │ CS021515000089           20191027
   6 │ CS015515000083           20190117
   7 │ CS017414000114           20190721
   8 │ CS028515000029           20190828
   9 │ CS035615000040           20190830
  10 │ CS030515000189           20190729

In [32]:
# p25
@chain df_receipt begin
    groupby(:customer_id)
    combine(:sales_ymd => minimum)
    first(10)
end

10×2 DataFrame
 Row │ customer_id     sales_ymd_minimum
     │ String15        Int64
─────┼───────────────────────────────────
   1 │ CS011415000006           20170111
   2 │ ZZ000000000000           20170101
   3 │ CS028605000002           20170521
   4 │ CS015515000034           20170103
   5 │ CS021515000089           20170117
   6 │ CS015515000083           20170721
   7 │ CS017414000114           20170224
   8 │ CS028515000029           20171130
   9 │ CS035615000040           20181102
  10 │ CS030515000189           20170330

In [33]:
# p26
@chain df_receipt begin
    groupby(:customer_id)
    combine(_, [:sales_ymd, :sales_ymd] .=> [maximum, minimum])
    filter(row -> row.sales_ymd_maximum != row.sales_ymd_minimum ,_) # _は中間データを指す．
    first(10)
end

10×3 DataFrame
 Row │ customer_id     sales_ymd_maximum  sales_ymd_minimum
     │ String15        Int64              Int64
─────┼──────────────────────────────────────────────────────
   1 │ CS011415000006           20191029           20170111
   2 │ ZZ000000000000           20191031           20170101
   3 │ CS028605000002           20190416           20170521
   4 │ CS015515000034           20191010           20170103
   5 │ CS021515000089           20191027           20170117
   6 │ CS015515000083           20190117           20170721
   7 │ CS017414000114           20190721           20170224
   8 │ CS028515000029           20190828           20171130
   9 │ CS035615000040           20190830           20181102
  10 │ CS030515000189           20190729           20170330

In [34]:
# p27
@chain df_receipt begin
    groupby(:store_cd)
    combine(:amount => mean)
    sort(:amount_mean, rev = true)
    first(5)
end

5×2 DataFrame
 Row │ store_cd  amount_mean
     │ String7   Float64
─────┼───────────────────────
   1 │ S13052        402.867
   2 │ S13015        351.112
   3 │ S13003        350.916
   4 │ S14010        348.791
   5 │ S13001        348.47

In [35]:
# p28
@chain df_receipt begin
    groupby(:store_cd)
    combine(:amount => median)
    sort(:amount_median, rev = true)
    first(5)
end

5×2 DataFrame
 Row │ store_cd  amount_median
     │ String7   Float64
─────┼─────────────────────────
   1 │ S13052            190.0
   2 │ S14010            188.0
   3 │ S14050            185.0
   4 │ S13003            180.0
   5 │ S14040            180.0

In [36]:
# p29
@chain df_receipt begin
    groupby(:store_cd)
    combine(:amount => mode)
    sort(:amount_mode, rev = true)
    first(5)
end

5×2 DataFrame
 Row │ store_cd  amount_mode
     │ String7   Int64
─────┼───────────────────────
   1 │ S13003           1100
   2 │ S13020           1100
   3 │ S13041           1100
   4 │ S13019           1100
   5 │ S14040            298

In [37]:
# p30
@chain df_receipt begin
    groupby(:store_cd)
    combine(:amount => var)
    sort(:amount_var, rev = true)
    first(5)
end

5×2 DataFrame
 Row │ store_cd  amount_var
     │ String7   Float64
─────┼──────────────────────
   1 │ S13052     4.41863e5
   2 │ S14011     3.06442e5
   3 │ S14034     2.97068e5
   4 │ S13001     2.95559e5
   5 │ S13015     2.95427e5

In [38]:
# p31
@chain df_receipt begin
    groupby(:store_cd)
    combine(:amount => std)
    sort(:amount_std, rev = true)
    first(5)
end

5×2 DataFrame
 Row │ store_cd  amount_std
     │ String7   Float64
─────┼──────────────────────
   1 │ S13052       664.728
   2 │ S14011       553.572
   3 │ S14034       545.04
   4 │ S13001       543.653
   5 │ S13015       543.532

In [39]:
# p32
@chain df_receipt begin
    groupby(:store_cd)
    combine(:amount => x -> quantile(x, [0, 0.25, 0.5, 0.75, 1]))
end

260×2 DataFrame
 Row │ store_cd  amount_function
     │ String7   Float64
─────┼───────────────────────────
   1 │ S14006              10.0
   2 │ S14006             102.0
   3 │ S14006             175.0
   4 │ S14006             288.0
   5 │ S14006            5060.0
   6 │ S13008              10.0
   7 │ S13008             102.0
   8 │ S13008             179.0
   9 │ S13008             295.25
  10 │ S13008            5280.0
  11 │ S14028              10.0
  ⋮  │    ⋮             ⋮
 251 │ S13051              10.0
 252 │ S13051             102.0
 253 │ S13051             176.0
 254 │ S13051             288.0
 255 │ S13051            4800.0
 256 │ S13052              36.0
 257 │ S13052             102.0
 258 │ S13052             190.0
 259 │ S13052             298.0
 260 │ S13052            5000.0
                 239 rows omitted

In [40]:
# p33
@chain df_receipt begin
    groupby(:store_cd)
    combine(:amount => mean)
    subset(:amount_mean => x -> x .>=330)
end

@chain df_receipt begin
    groupby(:store_cd)
    combine(:amount => mean)
    filter(row -> row.amount_mean >= 330, _)
end

13×2 DataFrame
 Row │ store_cd  amount_mean
     │ String7   Float64
─────┼───────────────────────
   1 │ S13003        350.916
   2 │ S13020        337.88
   3 │ S14026        332.341
   4 │ S13015        351.112
   5 │ S14045        330.082
   6 │ S13019        330.209
   7 │ S14011        335.718
   8 │ S13004        330.944
   9 │ S14010        348.791
  10 │ S12013        330.194
  11 │ S13001        348.47
  12 │ S14047        330.077
  13 │ S13052        402.867

In [41]:
# p34
mean_value = @chain df_receipt begin
    filter(row -> !startswith(row.customer_id, "Z"), _)
    groupby(:customer_id)
    combine(:amount => sum)
    combine(:amount_sum => mean)
    _[1,1]
end

2547.742234529256

In [42]:
# p35
@chain df_receipt begin
    filter(row -> !startswith(row.customer_id, "Z"), _)
    groupby(:customer_id)
    combine(:amount => mean)
    filter(row -> row.amount_mean >= mean_value, _)
end

8×2 DataFrame
 Row │ customer_id     amount_mean
     │ String15        Float64
─────┼─────────────────────────────
   1 │ CS008513000063       2694.0
   2 │ CS011315000133       2579.0
   3 │ CS003803000016       2580.0
   4 │ CS013413000099       2554.0
   5 │ CS012815000021       2551.0
   6 │ CS015615000147       2634.0
   7 │ CS001615000201       2550.0
   8 │ CS035412000064       2564.0

In [43]:
# p36
@chain innerjoin(df_receipt, df_store, on = :store_cd) begin
        select(names(df_receipt), :store_name)
        first(10)
    end

10×12 DataFrame
 Row │ sales_ymd  sales_epoch  store_cd  receipt_no  receipt_sub_no  customer_ ⋯
     │ Int64      Int64        String7   Int64       Int64           String15  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │  20190903   1567468800  S14011          1192               2  CS0114150 ⋯
   2 │  20190304   1551657600  S14046          1152               2  ZZ0000000
   3 │  20170921   1505952000  S14028          1192               2  CS0286050
   4 │  20170721   1500595200  S13015          1112               1  CS0155150
   5 │  20190103   1546473600  S14021          1162               2  ZZ0000000 ⋯
   6 │  20190724   1563926400  S13009          1192               2  ZZ0000000
   7 │  20180621   1529539200  S13004          1172               2  ZZ0000000
   8 │  20190209   1549670400  S14021          1142               2  CS0215150
   9 │  20181219   1545177600  S13015          1132               1  CS0155150 ⋯
  10 │  20180603   1527984000  S13017          1192               1  CS0174140
                                                               7 columns omitted

In [44]:
# p37
@chain innerjoin(df_product, df_category, on = [:category_medium_cd, :category_small_cd]) begin
        select(names(df_product), :category_small_name)
        first(10)
    end

10×7 DataFrame
 Row │ \ufeffproduct_cd  category_major_cd  category_medium_cd  category_small ⋯
     │ String15          Int64              Int64               Int64          ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ P040101001                        4                 401              40 ⋯
   2 │ P040101002                        4                 401              40
   3 │ P040101003                        4                 401              40
   4 │ P040101004                        4                 401              40
   5 │ P040101005                        4                 401              40 ⋯
   6 │ P040101006                        4                 401              40
   7 │ P040101007                        4                 401              40
   8 │ P040101008                        4                 401              40
   9 │ P040101009                        4                 401              40 ⋯
  10 │ P040101010                        4                 401              40
                                                               4 columns omitted

In [45]:
# p38
p38 = @chain df_receipt begin
    groupby(:customer_id)
    combine(:amount => sum)
    leftjoin(df_customer,_, on = :customer_id)
    filter(row -> row.gender_cd == 1, _)
    filter(row -> !startswith(row.customer_id, "Z"),_)
end
replace!(p38.amount_sum, missing => 0) # coalesce.(p38.amount_sum, 0) # 別解
first(p38, 10)

10×12 DataFrame
 Row │ customer_id     customer_name  gender_cd  gender   birth_day   age    p ⋯
     │ String15        String31       Int64      String7  Date        Int64  S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ CS035114000004  大村 美里              1  女性     2007-11-25     11  1 ⋯
   2 │ CS004115000014  松井 京子              1  女性     2007-08-09     11  1
   3 │ CS002114000010  山内 遥                1  女性     2007-06-03     11  1
   4 │ CS025115000002  小柳 夏希              1  女性     2007-04-18     11  2
   5 │ CS007115000006  福岡 瞬                1  女性     2007-03-10     12  2 ⋯
   6 │ CS014113000008  矢口 莉緒              1  女性     2007-03-05     12  2
   7 │ CS035112000001  宮下 ひろ子            1  女性     2007-01-11     12  1
   8 │ CS029113000009  長田 沙知絵            1  女性     2006-11-25     12  2
   9 │ CS023114000002  葛西 茜                1  女性     2006-10-10     12  1 ⋯
  10 │ CS049113000002  瀬川 美嘉              1  女性     2006-09-20     12  1
                                                               6 columns omitted

In [46]:
# 39
p39_sale = @chain df_receipt begin
    filter(row -> !startswith(row.customer_id, "Z"), _)
    groupby(:customer_id)
    combine(nrow)
    sort!(:nrow, rev = true)
    first(20)
end

p39_amount = @chain df_receipt begin
    filter(row -> !startswith(row.customer_id, "Z"), _)
    groupby(:customer_id)
    combine(:amount => sum)
    first(20)
end

outerjoin(p39_sale, p39_amount, on = "customer_id")

40×3 DataFrame
 Row │ customer_id     nrow     amount_sum
     │ String15        Int64?   Int64?
─────┼─────────────────────────────────────
   1 │ CS040214000008       46     missing
   2 │ CS015415000185       44     missing
   3 │ CS010214000010       44     missing
   4 │ CS028415000007       42     missing
   5 │ CS010214000002       42     missing
   6 │ CS017415000097       40     missing
   7 │ CS016415000141       40     missing
   8 │ CS021514000045       40     missing
   9 │ CS007515000107       40     missing
  10 │ CS031414000051       38     missing
  11 │ CS021515000172       38     missing
  ⋮  │       ⋮            ⋮         ⋮
  31 │ CS039415000073  missing        9594
  32 │ CS038415000071  missing       12696
  33 │ CS032414000072  missing       16563
  34 │ CS040415000200  missing       11137
  35 │ CS020515000102  missing        9920
  36 │ CS027415000133  missing        7793
  37 │ CS002415000728  missing        7658
  38 │ CS016415000004  missing       11330
  39 │ CS008513000063  missing        5388
  40 │ CS009415000038  missing       14033
                            19 rows omitted

In [47]:
# p40
# 意図がよくわからない
nrow(df_store) * nrow(df_product)

531590

In [48]:
# p41
# using ShiftedArrays: lag
@chain df_receipt begin
    groupby(:sales_ymd)
    combine(:amount => sum)
    sort!(:sales_ymd)
    transform(_, :amount_sum => (x -> x - lag(x)) => :amout_sum_diff)
    first(10)
end

10×3 DataFrame
 Row │ sales_ymd  amount_sum  amout_sum_diff
     │ Int64      Int64       Int64?
─────┼───────────────────────────────────────
   1 │  20170101       33723         missing
   2 │  20170102       24165           -9558
   3 │  20170103       27503            3338
   4 │  20170104       36165            8662
   5 │  20170105       37830            1665
   6 │  20170106       32387           -5443
   7 │  20170107       23415           -8972
   8 │  20170108       24737            1322
   9 │  20170109       26718            1981
  10 │  20170110       20143           -6575

In [49]:
# p42
@chain df_receipt begin
    groupby(:sales_ymd)
    combine(:amount => sum)
    sort!(:sales_ymd)
    transform(_, :amount_sum => (x -> lag(x, 1)) => :amount_sum_lag_1)
    transform(_, :amount_sum => (x -> lag(x, 2)) => :amount_sum_lag_2)
    transform(_, :amount_sum => (x -> lag(x, 3)) => :amount_sum_lag_3)
    first(10)
end

10×5 DataFrame
 Row │ sales_ymd  amount_sum  amount_sum_lag_1  amount_sum_lag_2  amount_sum_l ⋯
     │ Int64      Int64       Int64?            Int64?            Int64?       ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │  20170101       33723           missing           missing           mis ⋯
   2 │  20170102       24165             33723           missing           mis
   3 │  20170103       27503             24165             33723           mis
   4 │  20170104       36165             27503             24165             3
   5 │  20170105       37830             36165             27503             2 ⋯
   6 │  20170106       32387             37830             36165             2
   7 │  20170107       23415             32387             37830             3
   8 │  20170108       24737             23415             32387             3
   9 │  20170109       26718             24737             23415             3 ⋯
  10 │  20170110       20143             26718             24737             2
                                                                1 column omitted

In [176]:
# p43
@chain leftjoin(df_receipt, df_customer, on = :customer_id) begin
    transform(:age => (x -> floor.(x / 10) * 10) => :age_bin)
    groupby([:age_bin, :gender_cd])
    combine(:amount => sum)
    unstack(:age_bin, :gender_cd, :amount_sum, allowmissing=true)
    rename!(["age_bin", "female", "male", "unknown", "missing"])
    select(:age_bin, :female, :male, :unknown)
end

10×4 DataFrame
 Row │ age_bin    female   male     unknown
     │ Float64?   Int64?   Int64?   Int64?
─────┼──────────────────────────────────────
   1 │      10.0     1591   149836     4317
   2 │      20.0    72940  1363724    44328
   3 │      30.0   177322   693047    50441
   4 │      40.0    19355  9320791   483512
   5 │      50.0    54320  6685192   342923
   6 │      60.0   272469   987741    71418
   7 │      70.0    13435    29764     2427
   8 │      80.0    46360   262923     5111
   9 │      90.0  missing     6260  missing
  10 │ missing    missing  missing  missing

In [ ]:
# p44
@chain leftjoin(df_receipt, df_customer, on = :customer_id) begin
    transform(:age => (x -> floor.(x / 10) * 10) => :age_bin)
    groupby([:age_bin, :gender_cd])
    combine(:amount => sum)
    unstack(:gender_cd, :age_bin, :amount_sum, allowmissing=true)
end

4×11 DataFrame
 Row │ gender_cd  10.0     20.0     30.0     40.0     50.0     60.0     70.0   ⋯
     │ Int64?     Int64?   Int64?   Int64?   Int64?   Int64?   Int64?   Int64? ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │         0     1591    72940   177322    19355    54320   272469    1343 ⋯
   2 │         1   149836  1363724   693047  9320791  6685192   987741    2976
   3 │         9     4317    44328    50441   483512   342923    71418     242
   4 │   missing  missing  missing  missing  missing  missing  missing  missin
                                                               4 columns omitted

In [ ]:
# p45
# using Dates
@chain df_customer begin
    transform(:birth_day => ( x -> Dates.format.(x, "yyyymmdd")) => :birth_day_str) # broadcastでformatを適用する．
    select(:customer_id, :birth_day_str)
    first(10)
end
#Dates.format.(df_customer.birth_day, "yyyymmdd")

10×2 DataFrame
 Row │ customer_id     birth_day_str
     │ String15        String
─────┼───────────────────────────────
   1 │ CS035114000004  20071125
   2 │ CS022103000002  20071002
   3 │ CS002113000009  20070917
   4 │ CS004115000014  20070809
   5 │ CS002114000010  20070603
   6 │ CS025115000002  20070418
   7 │ CS002113000025  20070330
   8 │ CS033112000003  20070322
   9 │ CS007115000006  20070310
  10 │ CS014113000008  20070305

In [103]:
# p46
@chain df_customer begin
    transform(:application_date => (x -> Date.(string.(x), DateFormat("yyyymmdd"))) => :application_date_date)
    select(:customer_id, :application_date_date)
    first(10)
end

10×2 DataFrame
 Row │ customer_id     application_date_date
     │ String15        Date
─────┼───────────────────────────────────────
   1 │ CS035114000004  2015-06-19
   2 │ CS022103000002  2016-09-09
   3 │ CS002113000009  2016-03-04
   4 │ CS004115000014  2016-11-20
   5 │ CS002114000010  2016-09-20
   6 │ CS025115000002  2016-01-16
   7 │ CS002113000025  2017-10-30
   8 │ CS033112000003  2015-06-06
   9 │ CS007115000006  2015-11-18
  10 │ CS014113000008  2015-06-22

In [106]:
# p47
@chain df_receipt begin
    transform(:sales_ymd => (x -> Date.(string.(x), DateFormat("yyyymmdd"))) => :sales_ymd_date)
    select(:receipt_no, :receipt_sub_no, :sales_ymd_date)
    first(10)
end

10×3 DataFrame
 Row │ receipt_no  receipt_sub_no  sales_ymd_date
     │ Int64       Int64           Date
─────┼────────────────────────────────────────────
   1 │       1192               2  2019-09-03
   2 │       1152               2  2019-03-04
   3 │       1192               2  2017-09-21
   4 │       1112               1  2017-07-21
   5 │       1162               2  2019-01-03
   6 │       1192               2  2019-07-24
   7 │       1172               2  2018-06-21
   8 │       1142               2  2019-02-09
   9 │       1132               1  2018-12-19
  10 │       1192               1  2018-06-03

In [134]:
# p48
@chain df_receipt begin
    transform(:sales_epoch => (x -> unix2datetime.(x)) => :sales_epoch_datetime)
    transform(:sales_epoch_datetime => (x -> Date.(x)) => :sales_epoch_date)
    select(:receipt_no, :receipt_sub_no, :sales_epoch_date)
    first(10)
end
#unix2datetime.(df_receipt.sales_epoch)

10×3 DataFrame
 Row │ receipt_no  receipt_sub_no  sales_epoch_date
     │ Int64       Int64           Date
─────┼──────────────────────────────────────────────
   1 │       1192               2  2019-09-03
   2 │       1152               2  2019-03-04
   3 │       1192               2  2017-09-21
   4 │       1112               1  2017-07-21
   5 │       1162               2  2019-01-03
   6 │       1192               2  2019-07-24
   7 │       1172               2  2018-06-21
   8 │       1142               2  2019-02-09
   9 │       1132               1  2018-12-19
  10 │       1192               1  2018-06-03

In [139]:
# p49
@chain df_receipt begin
    transform(:sales_epoch => (x -> unix2datetime.(x)) => :sales_epoch_datetime)
    transform(:sales_epoch_datetime => (x -> Dates.year.(x)) => :sales_epoch_year)
    select(:receipt_no, :receipt_sub_no, :sales_epoch_year)
    first(10)
end

10×3 DataFrame
 Row │ receipt_no  receipt_sub_no  sales_epoch_year
     │ Int64       Int64           Int64
─────┼──────────────────────────────────────────────
   1 │       1192               2              2019
   2 │       1152               2              2019
   3 │       1192               2              2017
   4 │       1112               1              2017
   5 │       1162               2              2019
   6 │       1192               2              2019
   7 │       1172               2              2018
   8 │       1142               2              2019
   9 │       1132               1              2018
  10 │       1192               1              2018

In [184]:
# p50
@chain df_receipt begin
    transform(:sales_epoch => (x -> unix2datetime.(x)) => :sales_epoch_datetime)
    transform(:sales_epoch_datetime => (x -> Dates.month.(x)) => :sales_epoch_month)
    transform(:sales_epoch_month => (x -> string.(x, pad = 2)) => :sales_epoch_month_str) # pad = 2で2桁にする．
    select(:receipt_no, :receipt_sub_no, :sales_epoch_month_str)
    first(10)
end

10×3 DataFrame
 Row │ receipt_no  receipt_sub_no  sales_epoch_month_str
     │ Int64       Int64           String
─────┼───────────────────────────────────────────────────
   1 │       1192               2  09
   2 │       1152               2  03
   3 │       1192               2  09
   4 │       1112               1  07
   5 │       1162               2  01
   6 │       1192               2  07
   7 │       1172               2  06
   8 │       1142               2  02
   9 │       1132               1  12
  10 │       1192               1  06

In [185]:
# p51
@chain df_receipt begin
    transform(:sales_epoch => (x -> unix2datetime.(x)) => :sales_epoch_datetime)
    transform(:sales_epoch_datetime => (x -> Dates.day.(x)) => :sales_epoch_day)
    transform(:sales_epoch_day => (x -> string.(x, pad = 2)) => :sales_epoch_day_str)
    select(:receipt_no, :receipt_sub_no, :sales_epoch_day_str)
    first(10)
end

10×3 DataFrame
 Row │ receipt_no  receipt_sub_no  sales_epoch_day_str
     │ Int64       Int64           String
─────┼─────────────────────────────────────────────────
   1 │       1192               2  03
   2 │       1152               2  04
   3 │       1192               2  21
   4 │       1112               1  21
   5 │       1162               2  03
   6 │       1192               2  24
   7 │       1172               2  21
   8 │       1142               2  09
   9 │       1132               1  19
  10 │       1192               1  03

In [257]:
# p52
@chain df_receipt begin
    filter(row -> !startswith(row.customer_id, "Z"),_)
    groupby(:customer_id)
    combine(:amount => sum)
    transform(:amount_sum => (x -> Int.(x .> 2000)) => :amount_sum_over_2000)
    first(10)
end

10×3 DataFrame
 Row │ customer_id     amount_sum  amount_sum_over_2000
     │ String15        Int64       Int64
─────┼──────────────────────────────────────────────────
   1 │ CS011415000006       16094                     1
   2 │ CS028605000002       11270                     1
   3 │ CS015515000034       15300                     1
   4 │ CS021515000089       17580                     1
   5 │ CS015515000083        9229                     1
   6 │ CS017414000114        8745                     1
   7 │ CS028515000029        8536                     1
   8 │ CS035615000040        5608                     1
   9 │ CS030515000189       11913                     1
  10 │ CS035414000024       17615                     1

In [270]:
# p53
@chain df_customer begin
    transform(:postal_cd => (x -> parse.(Int, SubString.(x, 1, 3))) => :postal_cd_prefix)
    transform(:postal_cd_prefix => (x -> Int.(100 .<= x .<= 209)) => :postal_cd_dummy)
    leftjoin(df_receipt, _, on =:customer_id)
    unique!(:customer_id)
    groupby(:postal_cd_dummy)
    combine(nrow)
end

3×2 DataFrame
 Row │ postal_cd_dummy  nrow
     │ Int64?           Int64
─────┼────────────────────────
   1 │               0   3906
   2 │               1   4400
   3 │         missing      1

In [305]:
# p54
@chain df_customer begin
    transform(:address => (x -> Int.(occursin.("東京都", x)) .* 13) => :address_tokyo)
    transform(:address => (x -> Int.(occursin.("神奈川県", x)) .* 14) => :address_kanagawa)
    transform(:address => (x -> Int.(occursin.("埼玉県", x)) .* 11) => :address_saitama)
    transform(:address => (x -> Int.(occursin.("千葉県", x)) .* 12) => :address_chiba)
    transform(_, [:address_tokyo, :address_kanagawa, :address_saitama, :address_chiba] => (+) => :address_code)

    select(:customer_id, :address, :address_code)
    first(10)
end

10×3 DataFrame
 Row │ customer_id     address                            address_code
     │ String15        String                             Int64
─────┼─────────────────────────────────────────────────────────────────
   1 │ CS035114000004  東京都世田谷区桜**********                   13
   2 │ CS022103000002  神奈川県逗子市逗子**********                 14
   3 │ CS002113000009  東京都小金井市貫井南町**********             13
   4 │ CS004115000014  東京都中野区上鷺宮**********                 13
   5 │ CS002114000010  東京都小金井市貫井北町**********             13
   6 │ CS025115000002  神奈川県横浜市泉区上飯田町******…            14
   7 │ CS002113000025  東京都小金井市貫井北町**********             13
   8 │ CS033112000003  神奈川県横浜市戸塚区名瀬町******…            14
   9 │ CS007115000006  千葉県佐倉市西志津**********                 12
  10 │ CS014113000008  千葉県千葉市中央区東千葉********…            12

In [ ]:
# p55
quantiles = @chain df_receipt begin
    groupby(:customer_id)
    combine(:amount => sum)
    combine(:amount_sum => x -> quantile(x, [0.25, 0.5, 0.75]))
    _.amount_sum_function
end
q1 = quantiles[1]; q2 = quantiles[2]; q3 = quantiles[3]

@chain df_receipt begin
    groupby(:customer_id)
    combine(:amount => sum)
    transform(:amount_sum => (x -> ifelse(x .< q1, 1, 0) )
    #combine(:amount_sum => x -> quantile(x, [0.25, 0.5, 0.75]))
    #_.amount_sum_function
end

8307×2 DataFrame
  Row │ customer_id     amount_sum
      │ String15        Int64
──────┼────────────────────────────
    1 │ CS011415000006       16094
    2 │ ZZ000000000000    12395003
    3 │ CS028605000002       11270
    4 │ CS015515000034       15300
    5 │ CS021515000089       17580
    6 │ CS015515000083        9229
    7 │ CS017414000114        8745
    8 │ CS028515000029        8536
    9 │ CS035615000040        5608
   10 │ CS030515000189       11913
   11 │ CS035414000024       17615
  ⋮   │       ⋮             ⋮
 8298 │ CS037412000091         115
 8299 │ CS035512000032         138
 8300 │ CS017513000183         140
 8301 │ CS005315000108         115
 8302 │ CS029615000114         138
 8303 │ CS010803000005          93
 8304 │ CS035304000008         105
 8305 │ CS014614000056          70
 8306 │ CS039413000007         115
 8307 │ CS002513000267          80
                  8286 rows omitted